# Arquivos de sistema do macOS
.DS_Store

# Arquivos de sistema do Windows
Thumbs.db

# Arquivos de configuração de editores
.vscode/
.idea/

# Arquivos de log
*.log
debug.log

# Arquivos de dependências (se você usar Composer ou NPM)
/vendor/
/node_modules/