/**
 * Estilos customizados para o painel de administração do plugin PatropiBJO.
 */

/*
 * Reset para o menu de abas (nav-tabs).
 * O WordPress força estilos em `ul` e `a` que quebram o layout do Bootstrap.
 * Usamos a classe `.patropi-bjo-admin-page` para garantir que este reset
 * afete apenas as páginas do nosso plugin.
*/

/* Remove a largura máxima do contêiner principal do WordPress em nossas páginas. */
.wrap.patropi-bjo-admin-page .card {
	max-width: 90% !important;
} 